@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.ttf');
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
}
.icon-calendar:before {
  content: "\e900";
  color: #fff;
}
.icon-hiking:before {
  content: "\e901";
  color: #fff;
}
.icon-mountains:before {
  content: "\e902";
  color: #fff;
}
.icon-previous:before {
  content: "\e903";
}
.icon-next:before {
  content: "\e904";
}
.icon-sea:before {
  content: "\e905";
  color: #fff;
}
