	   /*photo_gallery_page*/
    html, body {
      height: 100%;
    }
    .about_page {
      height: 100%;
    }
      .gallery_swiper, .gallery-top {
      width: 100%;
      height: 80%;
      max-width: 1185px;
      margin: 0 auto;
    }
    .gallery_slider {
      background-size: cover;
      background-position: center;
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
    .gallery_slider_btn {
      background-image: none;
      background-color: #fff;
      width: 90px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .gallery_slider_container {
      height: 100%;
    }
    /*photo_gallery_page end*/